body {
	margin: 0;
	padding: 0;
	line-height: 1.5em;
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 12px;
	color: #004551;
	background: #004551 url(images/newyorklasik_body_top.jpg) repeat-x;
}

a:link, a:visited {
	color: #004551;
	text-decoration: underline;
	font-weight: bold;
} 
a:active, a:hover {
	color: #004551;
	text-decoration: none;
}

p { margin: 0px; padding: 0px; }

img { margin: 0px; padding: 0px; border: none; }

.cleaner { clear: both; width: 100%; height: 0px; font-size: 0px;  }

.cleaner_h30 { clear: both; width:100%; height: 30px; }
.cleaner_h40 { clear: both; width:100%; height: 40px; }

.margin_r10 { margin-right: 10px; }

.float_l { float: left; }
.float_r { float:  right; }


#newyorklasik_wrapper {
	width: 1024px;
	margin: 0 auto;
}

#manhattan_header {
	height: 96px;
	background: url(images/newyorklasik_menu.jpg) no-repeat bottom;
}

#manhattan_header  #site_title {
	float: left;
	width: 200px;
	padding: 10px 0 0 50px;
}


#site_title a {
	margin: 0px;
	padding: 0px;
	font-size: 30px;
	color: #ffffff;
	font-weight: bold;
	text-decoration: none;
}

#site_title h1 a:hover {
	font-weight: bold;	
	text-decoration: none;
}
 #newyorklasik_menu {
	float: right;
	padding-top: 10px;
	height: 43px;
	margin-right: -220px
}

#newyorklasik_menu ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

#newyorklasik_menu ul li {
	padding: 0;
	margin: 0;
	display: inline;
}

#newyorklasik_menu ul li a {
	position: relative;
	float: left;
	display: block;
	height: 33px;
	width: 123px;
	font-family: "Times New Roman", Times, serif;
	text-align: center;
	font-size: 16px;
	text-decoration: none;
	color: #fff;
	font-weight: normal;
	outline: none;
	background:url(images/newyorklasik_menu_button.png) no-repeat;
	margin-top: 0px;
	margin-right: 0;
	margin-bottom: 0;
	margin-left: -20px;
	padding-top: 10px;
	padding-right: 0;
	padding-bottom: 0;
	padding-left: 20px;
}

#newyorklasik_menu li a:hover, #newyorklasik_menu li .current {
	z-index: 200;
	background:url(images/newyorklasik_menu_button_hover.png);
}

#newyorklasik_banner {
	width: 954px;
	height: 236px;
	padding: 50px 35px;
	background: url(images/newyorklasik_banner.png) no-repeat;
}

#banner_left {
	float: left;
	width: 365px;
	color: #fff;
	text-align: justify;
}

#banner_left h2 {
	font-size: 28px;
	font-weight: normal;
	margin-top: 0;
}

#banner_left a {
	color: #03d7fd;
}

#banner_right {
	position: relative;
	float: right;
	width: 517px;
	height: 215px;
	padding: 9px;
	overflow: hidden;
}

#banner_right span {
	position: absolute;
	width: 535px;
	height: 233px;
	top: 0;
	left: 0;
	z-index: 800;
	background: url(images/newyorklasik_banner_image_frame.png) no-repeat;
}
#newyorklasik_content {
	
	clear: both;
	width: 900px;
	padding: 35px 62px 15px 62px;
	background: url(images/newyorklasik_content_bg.png) repeat-y center;
}

#content_bottom {
	width: 1024px;
	height: 6px;
	background: url(images/newyorklasik_content_bottom.png) no-repeat;
}

.float_l_img {
	float: left;
	margin: 3px 15px 5px 0;
}

#newyorklasik_content h2 {
	color: #004551;
	font-weight: normal;
	font-size: 25px;
	margin: 0 0 25px 0;
}

#newyorklasik_content p {
	margin-bottom: 6px;
	text-align: justify;
}

#newyorklasik_content strong {
	color:#004551;
	font-weight: bold;
}

#newyorklasik_content .services_list {
	margin: 20px 150px 0 0;
	padding: 0;
	list-style: none;
}

#newyorklasik_content .services_list li {
	margin: 0 0 5px 0;
	padding: 4px 0 5px 15px;
	border-bottom: 1px dashed #c7c7c7;
	background: url(images/list_icon.png) no-repeat center left;
}

.section_w900 {
	clear: both;
	width: 900px;
}

.section_w580 {
	width: 580px;
}

.section_w280 {
	float: right;
	width: 280px;
}

.services_section {
	clear: both;
	padding: 20px;
	background: url(images/newyorklasik_services.jpg) no-repeat top center;
}

.testimonial {

	height: 160px;
	padding: 60px 20px 20px 70px;
	margin-bottom: 30px;
	overflow: hidden;
	background:url(images/newyorklasik_testimonial.png) no-repeat;
	text-align: justify;
}

.twitter {
	width: 280px;
	height: 180px;
	overflow: hidden;
	background: url(images/newyorklasik_twitter.jpg) no-repeat center;
	text-align: justify;
}

.twitter ul {
	margin: 0;
	padding: 70px 30px 30px 30px;
	list-style: none;
}

.twitter ul li {
	margin: 0 0 10px 0;
	padding: 0;
}

.twitter ul li span {
	clear: both;
	display: block;
	font-style: italic;
	color: #26aba7;
}

.showcase {
	margin: 0;
	padding: 0;
	list-style: none;
}

.showcase li {
	margin: 0;
	padding: 0;
	display: block;
	float: left;
	width: 180px;
	height: 196px;	
	margin: 0 13px 12px 0;		
	background: url(images/newyorklasik_portfolio_frame.jpg) no-repeat;
}

.showcase li a {
	display: block;
	margin: 20px;
	text-decoration: none;
}

.showcase li a img {
	margin-bottom: 5px;
}

.showcase li a span {
	margin-top: 5px;
	color: #5e5e5e;
	font-weight: normal;
}
#newyorklasik_footer {
	clear: both;
	width: 1000px;
	padding: 10px 12px;
	margin: 0 auto;
	color: #03d7fd;
	text-align: center;
}

#newyorklasik_footer a {
	font-weight: normal;
	color: #93eefe;
	text-decoration: underline;
}

